

<!-- gallery body layout is here -->
<!-- Mod done here -->
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="gallery.html">Gallery</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">

				<!--=== separate with three rows === -->
				<!-- Dynamic Data modify here   -->
				 <% galleryData.forEach((items)=>{ %>
				<div class="row">
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellowgreen;"><%= items.name %></span>
								</span>
								<img src="<%= items.url %>" />
							</a>
						</div>
					</div> 
				 <% }) %>
					<!--  -->
				<!-- row end here -->
				</div>
				


			</div>
		</div> 
	</div>
</section>