

<!-- gallery body layout is here -->
<!-- Mod done here -->
<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="gallery.html">Gallery</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="row">
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellowgreen;">save-Food</span>
								</span>
								<img src="images/g1.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellowgreen;">Apple</span>
								</span>
								<img src="images/g2.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellow;">Honey</span>
								</span>
								<img src="images/g3.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: brown;">Pinuut-Butter</span>
								</span>
								<img src="images/g4.jpg" />
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellow;">Jackfruit</span>
								</span>
								<img src="images/g5.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: chartreuse;">Onion</span>
								</span>
								<img src="images/g6.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellowgreen;">Avagado</span>
								</span>
								<img src="images/g7.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: yellowgreen;">Foolcopy</span>
								</span>
								<img src="images/g8.jpg" />
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: greenyellow;">Vagitable</span>
								</span>
								<img src="images/g9.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: bisque;">Egg</span>
								</span>
								<img src="images/g10.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: greenyellow;">Badacopy</span>
								</span>
								<img src="images/g11.jpg" />
							</a>
						</div>
					</div>
					<div class="col-1-4">
						<div class="zoom-container">
							<a href="#">
								<span class="zoom-caption">
									<span style="color: red;">Lichu</span>
								</span>
								<img src="images/g12.jpg" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</section>