<!-- MEnu and welcome page loading here -->
<!-- Specially Menu Card -->
<div class="zerogrid">
	<div class="callbacks_container">
		<ul class="rslides" id="slider4">
			<li>
				<img src="images/banner_1.jpg" alt="">
				<div class="caption">
					<h2 style="color: yellow;">We've got the best spareribs in town.</h2></br>
					<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae
						sollicitudin commodo,quam elit varius est, et ornare ante massa quis tellus. Mauris nec
						lacinia nisl. </p>
				</div>
			</li>
			<li>
				<img src="images/banner_2.jpg" alt="">
				<div class="caption">
					<h2 style="color: yellowgreen;">If food is an experience, then you'll find it at the restaurant.
					</h2></br>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
						invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
				</div>
			</li>
			<li>
				<img src="images/banner_3.jpg" alt="">
				<div class="caption">
					<h2 style="color: yellow;">Enjoy our take-away menu.</h2></br>
					<p>At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr, sed
						diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- menuContent done now -->