
<!-- This is the part of staff  -->

<section id="container" class="sub-page">
	<div class="wrap-container zerogrid">
		<div class="crumbs">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="staff.html">Staff</a></li>
			</ul>
		</div>
		<div id="main-content">
			<div class="wrap-content">
				<div class="chef">
					<div class="row">
						<div class="col-1-4">
							<div class="wrap-col">
								<div class="zoom-container">
									<a href="#">
										<img src="images/ch1.jpg" />
									</a>
								</div>
								<h3>Chef's Name</h3>
								<ul class="social t-center">
									<li><a style="color: rgb(59, 143, 143);" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a style="color: rgb(59, 143, 143);" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a style="color: rgb(59, 143, 143);" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a style="color: rgb(59, 143, 143);" href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<div class="zoom-container">
									<a href="#">
										<img src="images/ch2.jpg" />
									</a>
								</div>
								<h3>Chef's Name</h3>
								<ul class="social t-center">
									<li><a style="color: rgb(173, 244, 66);" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a style="color: rgb(173, 244, 66);" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a style="color: rgb(173, 244, 66);" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a style="color: rgb(173, 244, 66);" href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<div class="zoom-container">
									<a href="#">
										<img src="images/ch3.jpg" />
									</a>
								</div>
								<h3>Chef's Name</h3>
								<ul class="social t-center">
									<li><a style="color: rgb(182, 210, 126);" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a style="color: rgb(182, 210, 126);" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a style="color: rgb(182, 210, 126);" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a style="color: rgb(182, 210, 126);" href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-1-4">
							<div class="wrap-col">
								<div class="zoom-container">
									<a href="#">
										<img src="images/ch4.jpg" />
									</a>
								</div>
								<h3>Chef's Name</h3>
								<ul  class="social t-center">
									<li><a style="color: rgb(118, 185, 211);" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a style="color: rgb(118, 185, 211);" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a style="color: rgb(118, 185, 211);" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a style="color: rgb(118, 185, 211);" href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</div>
</section>